<%= form_with(model: anime) do |form| %>
  <% if anime.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(anime.errors.count, "error") %> prohibited this anime from being saved:</h2>

      <ul>
        <% anime.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field mb-3 col-sm-5">
    <%= form.label :name, class:"form-label" %>
    <%= form.text_field :name, class:"form-control" %>
  </div>

  <div class="field mb-3 col-sm-5">
    <%= form.label :gender, class:"form-label" %>
    <%= form.text_field :gender, class:"form-control" %>
  </div>

  <div class="field mb-3 col-sm-5">
    <%= form.label :classification, class:"form-label" %>
    <%= form.text_field :classification, class:"form-control" %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
