<p id="notice"><%= notice %></p>

<h1>Animes</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Gender</th>
      <th>Classification</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @animes.each do |anime| %>
      <tr>
        <td><%= anime.name %></td>
        <td><%= anime.gender %></td>
        <td><%= anime.classification %></td>
        <% if user_signed_in? %>
          <% if !current_user.followed.find_by_id(anime.id) %>
          
            <td><%= link_to 'Follow', follow_anime_path(anime), method: :put %></td>
            <td><%= link_to 'Favorite', follow_and_favorite_anime_path(anime), method: :put %></td>

          <% else %>
            <td><%= link_to 'Unfollow', unfollow_anime_path(anime), method: :put %></td>

            <% if !current_user.follow_animes.find_by(anime_id: anime.id).favorite %>
              <td><%= link_to 'Favorite', favorite_anime_path(anime), method: :put %></td>

            <% else %>
              <td><%= link_to 'Unfavorite', unfavorite_anime_path(anime), method: :put %></td>

            <% end %>
          <% end %>
        <% else %>
          <td><%= link_to 'Follow', new_user_session_path, notice: "Before following you must be sign in!" %></td>
          <td><%= link_to 'Favorite', new_user_session_path, notice: "Before favorites you must be sign in!" %></td>
        <% end %>       
        <td><%= link_to 'Show', anime %></td>
        <% if user_signed_in? %>
          <% if !!current_user.admin %>
            <td><%= link_to 'Edit', edit_anime_path(anime) %></td>
            <td><%= link_to 'Destroy', anime, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if user_signed_in? %>
  <% if current_user.admin %>
    <%= link_to 'New Anime', new_anime_path %>
  <% end %>
<% end %>

