<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @anime.name %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @anime.gender %>
</p>

<p>
  <strong>Classification:</strong>
  <%= @anime.classification %>
</p>

<%= link_to 'Edit', edit_anime_path(@anime) %> |
<%= link_to 'Back', animes_path %>
